@font-face {
font-family: mediagrid;
src: url('indie.otf'),
     url('indie.eot'); /* IE9 */
font-weight:600;
}

body {
font-family: Arial, Helvetica, sans-serif;
background:#e8e8e8;
}

h1 {
font-family: mediagrid, Arial, Helvetica, sans-serif;
font-size:60px;
font-variant:small-caps;
text-align: center;
margin:0;
}

h3 {
font-family: mediagrid, Arial, Helvetica, sans-serif;
font-variant:small-caps;
}

#content table.tahoe-directory { 
  margin: 0 0 1em;
  border: .2em solid #aaaaaa;
  border-spacing: 1px;
}
th { 
  color: white;
  background-color: #888888;
}
td {
    padding: .3em .3em;
}

th {
    padding: .3em .3em;
}

tr:nth-child(odd) {
background:#f4f4f4;
}

.table-headings-top th {
    text-align: center;
    
}
.table-headings-left th {
    text-align: right;
    vertical-align: top;
}
legend {
  font-weight: bold;
}


body.tahoe-directory-page {
  color: black;
  margin: 1em 0; /* zero margin so the table can be flush */
}
table.tahoe-directory {
  margin-top:0;
  color: black;
  background: white;
  width: 100%;
  /*border-left-color: #D7E0E5;
  border-right-color: #D7E0E5;*/
  border-left: 0;
  border-right: 0;
}
.tahoe-directory-footer {
  color: black;
  margin: 0 1em; /* compensate for page 0 margin */
}

a { 
outline: 0; 
text-decoration:none;

}

.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6) );
	background:-moz-linear-gradient( center top, #ffffff 5%, #f6f6f6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6');
	background-color:#ffffff;
	border:1px solid #dcdcdc;
	color:#666666;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}

.top {
	-moz-border-radius:40px 40px 0 0;
	-webkit-border-radius:40px 40px 0 0;
	border-radius:40px 40px 0 0;
}

.bottom {
	-moz-border-radius:0 0 40px 40px;
	-webkit-border-radius:0 0 40px 40px;
	border-radius:0 0 40px 40px;
}

.left {
	-moz-border-radius:40px 0 0 40px;
	-webkit-border-radius:40px 0 0 40px;
	border-radius:40px 0 0 40px;
}

.right {
	-moz-border-radius:0 40px 40px 0;
	-webkit-border-radius:0 40px 40px 0;
	border-radius:0 40px 40px 0;
}

.buttonleft:hover, .buttonright:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff) );
	background:-moz-linear-gradient( center top, #f6f6f6 5%, #ffffff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff');
	background-color:#f6f6f6;
}

ul.breadcrumb {
margin:0 1em;
display:inline-block;
padding:6px 12px;
border-radius:4px 4px 0 0;
}

ul.breadcrumb a {
  padding:0;
}

.tahoe-directory-page h1 {
  margin-top:10px;
  margin-bottom:10px;
}

#header {
color:#000000;
text-decoration:none;
}

#content {
  margin:0 1em;
}

#mediagrid-startpage {
overflow:hidden;
}

#logos {
margin:1em 0;
}

#logos h3 {
margin:0;
}

#logos img {
height:50px;
margin:0 3em;
}

#message {
margin:0;
position:absolute;
text-align:center;
width:100%;
}

#message h4 {
margin:0;
display:inline-block;
background:#FFFF66;
padding:2px;
border: 1px solid #AAAA00;
position:relative;
bottom:8px;
}

/* CHAT PAGE */

#fullscreen {
width:100%;
height:100%;
position:absolute;
top:0;
left:0;
z-index:100;
display:none;
}

#popup {
box-shadow:0px 0px 7px #000000;
width:300px;
background:#e8e8e8;
border:5px solid #888888;
margin: 180px auto 0;
padding: 20px 0;
-moz-border-radius:15px;
-webkit-border-radius:15px;
border-radius:15px;
text-align:center;
/*display:none;*/
position:relative;
}

.newroom #popup, .newroom #name, .joinroom #popup, .joinroom #name {
width:90%;
}

.keygen #popupmsg, .newroom #okay, .newroom #name, .newroom #popupmsg, .register #okay, .register #name, .changename #popupmsg, .changename #name, .changename #okay, .changename #cancel, .joinroom #name, .joinroom #okay, .joinroom #cancel, .joinroom #popupmsg, .alert #popupmsg, .alert #okay {
display:inline;
}

#okay, #cancel {
height:30px;
width:60px;
font-weight:bold;
display:none;
margin:0 1em;
margin-top:0.5em;
}

#popupmsg {
margin-bottom:1em;
font-weight:bold;
display:none;
}

#name {
width:220px;
text-align:center;
font-size:16px;
display:none;
}

#chat {
height:470px;
width:600px;
border:10px solid #888888;
margin: 0 auto;
-moz-border-radius:15px;
-webkit-border-radius:15px;
border-radius:15px;
position:relative;
background:#ffffff;
}

#userinput {
position:absolute;
bottom:0;
border-top:5px solid #aaaaaa;
height:28px;
}

#messages {
-moz-border-radius:5px 5px 0 0;
-webkit-border-radius:5px 5px 0 0;
border-radius:5px 5px 0 0;
height:437px;
width:500px;
background:#f4f4f4;
overflow:auto;
float:left;
word-wrap:break-word;
}

#users {
-moz-border-radius:0 5px 0 0;
-webkit-border-radius:0 5px 0 0;
border-radius:0 5px 0 0;
border-left:5px solid #aaaaaa;
width:95px;
background:#ffffff;
height:437px;
float:left;
overflow:hidden;
}

#inputbox {
font-size:16px;
width:492px;
border:none;
padding:5px;
float:left;
-moz-border-radius:0 0 0 5px;
-webkit-border-radius:0 0 0 5px;
border-radius:0 0 0 5px;
margin:0;
}

button {
background:#d0d0d0;
cursor:pointer;
}

#send, #options {
float:left;
border:none;
border-left:1px solid grey;
}

#send {
width:68px;
height:100%;
}

#options {
background-image: url(gear.png);
background-position:center;
background-repeat:no-repeat;
width:30px;
height:100%;
-moz-border-radius:0 0 5px 0;
-webkit-border-radius:0 0 5px 0;
border-radius:0 0 5px 0;
}

#send:hover, #options:hover {
background-color:#e0e0e0;
}

#send:active, #options:active {
background-color:#d0d0d0;
}

button::-moz-focus-inner {
  border: 0;
}

.epoch {
display:none;
}

.line-odd {
background:#e4e4e4;
}

p {
margin:0;
}

ul {
list-style-type:none;
margin:0;
padding:0;
}

#menu li {
border-bottom:1px solid grey;
padding:3px;
}

#menu {
display:none;
position:absolute;
background:#d0d0d0;

border:1px solid grey;
border-bottom:none;
}

#menu a {
color:black;
}

.myname {
  font-weight:bold;
}

form {
  margin-bottom:1em;
}

button {
  padding:0;
}

#createdir, #upload {
  margin-bottom:1em;
}

tr {
  text-align:center;
}

